<!DOCTYPE html>
<html>

<head>
    <!--Import materialize.css-->
    <link href="css/materialize.min.css" media="screen,print" rel="stylesheet" type="text/css" />
    <link href="css/global.css" media="screen,print" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta charset="UTF-8">
    <link href="img/2.png" rel="icon" sizes="32x32" />
    <title>CVBuddy</title>
</head>

<body ng-app="myApp" ng-init="u_full_name='John Doe'">
    <div class="char-back">
        <div class="eye left-eye"></div>
        <div class="eye right-eye"></div>
    </div>
    <nav class="indigo">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center" id="logo-container">CVBuddy</a>
        </div>
    </nav>

    <div class="fixed-action-btn print-btn" onclick="printPages('printable')">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">print</i>
        </a>
    </div>
    <div class="section" ng-controller="mainCtrl">
        <div class="row">
            <div class="col s12 m4 l4 sidepanel">
                <form>
                    <ul class="collapsible expandable">
                        <li class="active">
                            <div class="collapsible-header indigo white-text">
                                <i class="material-icons">account_circle</i> Personal Details
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input class="validate valid" id="full_name" ng-model="u_full_name" type="text">
                                        <label class="active" for="full_name">Full Name</label>
                                        </input>
                                    </div>
                                    <div class="col m12">
                                        <input class="datepicker" id="birthdate" ng-model="u_dob" placeholder="Date of Birth"
                                            type="text">
                                        </input>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea ng-bind="" class="materialize-textarea" onclick="getLoc(this)"
                                            ng-model="u_address" id="address"></textarea>
                                        <label for="address">Address</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input class="validate" id="email" ng-model="u_email" type="email">
                                        <label for="email">Email</label>
                                        </input>
                                    </div>
                                    <div class="input-field col s12 valign-wrapper">
                                        <input type="button" class="btn indigo modal-trigger right" href="#uploadPhotoModal"
                                            value="Upload Photo">
                                        <div id="uploadPhotoModal" class="modal">
                                            <div class="modal-content container">
                                                <h4 class="center">Upload Profile Picture</h4>
                                                <div class="row">
                                                    <div class="file-field input-field">
                                                        <div class="btn indigo">
                                                            <span>Browse</span>
                                                            <input type="file" id="inputUploadProfile" accept="image/*" />
                                                        </div>
                                                        <div class="file-path-wrapper">
                                                            <input class="file-path validate" type="text" placeholder="Upload Image" />
                                                        </div>
                                                    </div>
                                                    <croppie ng-if="cropped.source" src="cropped.source" ng-model="cropped.image"
                                                        options="{boundary:{width:200,height:200}}"></croppie>
                                                    <div class="input-field col s6 right">
                                                        <input class="btn right indigo modal-close" id="closeUploadPhoto"
                                                            type="button" value="Done">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header indigo white-text">
                                <i class="material-icons">group</i> Professional
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input class="autocomplete" id="autocomplete-company" type="text" ng-model="CompanyInput">
                                        <label for="autocomplete-company">Company</label>
                                        </input>
                                    </div>
                                    <div class="input-field col s12">
                                        <input class="autocomplete" id="autocomplete-position" type="text" ng-model="DesignationInput">
                                        <label for="autocomplete-position">Designation</label>
                                        </input>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="exp-summary" class="materialize-textarea" ng-model="CompanyExperienceInput"></textarea>
                                        <label for="exp-summary">Experience Summary</label>
                                    </div>
                                    <div class="input-field col s6 right">
                                        <input class="btn right indigo" id="addPro" type="button" value="Add" ng-click="ProQualAdd()">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header indigo white-text">
                                <i class="material-icons">book</i> Educational
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input class="autocomplete" id="autocomplete-school" ng-model="schoolInput"
                                            type="text">
                                        <label for="autocomplete-school">School/University</label>
                                        </input>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="edu-summary" class="materialize-textarea" ng-model="SchoolExperienceInput"></textarea>
                                        <label for="edu-summary">Activites/Socities</label>
                                    </div>
                                    <div class="input-field col s6 right">
                                        <input class="btn right indigo" id="addEdu" type="button" value="Add" ng-click="EduQualAdd()">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header indigo white-text">
                                <i class="material-icons">star_border</i> Skills
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input class="autocomplete" id="autocomplete-skill" ng-model="skillInput" type="text">
                                        <label for="autocomplete-skill">Skill</label>
                                        </input>
                                    </div>
                                    <div class="input-field col s12">
                                        <select ng-model="skillLvlInput">
                                            <option value="" disabled selected>Your Level</option>
                                            <option value="Beginner">Beginner</option>
                                            <option value="Intermidiate">Intermidiate</option>
                                            <option value="Expert">Expert</option>
                                        </select>
                                        <label>Expertise Level</label>
                                    </div>
                                    <div class="input-field col s6 right">
                                        <input class="btn right indigo" id="addSkill" type="button" value="Add"
                                            ng-click="SkillAdd()">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div id="printable" class="col s12 m8 l8">
                <div class="A4 row">
                    <h4 class="blue-grey darken-4 white-text" ng-bind="u_full_name"></h4>
                    <div class="col s5 sidebar">
                        <div class="personal-details">
                            <span><i class="material-icons">email</i> Email</span>
                            {{u_email}}<br>
                            <span><i class="material-icons">today</i> Date of Birth</span>
                            {{u_dob}}<br>
                            <span><i class="material-icons">location_on</i> Address</span>
                            {{u_address}}<br>
                            <span><i class="material-icons">stars</i> Key Skills</span>
                            <ul type="square" class="browser-default" ng-repeat="x in keySkillList">
                                <li>{{x.Skill}} - {{x.Level}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col s7 qualifications">
                        <img id="profile-img" ng-src="{{cropped.image}}" class="responsive-img user circle" ng-class="u_sex" />
                        <div class="prof-qual-section">
                            <h6>Professional Expereince</h6>
                            <div ng-repeat="x in ProQualList">
                                <p>
                                    <b ng-bind="x.Company"></b> - <i ng-bind="x.Designation"></i>
                                    <span ng-bind="x.Experience"></span>
                                </p>
                            </div>
                        </div>
                        <div class="edu-qual-section">
                            <h6>Education Qualifications</h6>
                            <div ng-repeat="x in EduQualList">
                                <p>
                                    <b ng-bind="x.School"></b>
                                    <span ng-bind="x.EduSummary"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
<script src="https://rawgit.com/Foliotek/Croppie/master/croppie.js"></script>
<script src="https://rawgit.com/lpsBetty/angular-croppie/master/angular-croppie.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/basic.js"></script>
<script src="js/autocomplete.js"></script>
<script src="js/ng-functions.js"></script>
<script src="js/location-finder.js"></script>
</html>