<!DOCTYPE html>
<html>

<head>
    <!--Import materialize.css-->
    <link href="css/materialize.min.css" media="screen,print" rel="stylesheet" type="text/css" />
    <link href="css/global.css" media="screen,print" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta charset="UTF-8">
    <link href="img/2.png" rel="icon" sizes="32x32" />
    <title>CVBuddy</title>
</head>

<body ng-app="" ng-init="u_full_name='John Doe'">
    <div class="char-back">
        <div class="eye left-eye"></div>
        <div class="eye right-eye"></div>
    </div>
    <nav class="indigo">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center" id="logo-container">CVBuddy</a>
        </div>
    </nav>

    <div class="fixed-action-btn print-btn" onclick="printPages('printable')">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">print</i>
        </a>
    </div>
    <div class="section">
        <div class="row">
            <div class="col s4">
                <form>
                    <ul class="collapsible expandable">
                        <li class="active">
                            <div class="collapsible-header indigo white-text">
                                <i class="material-icons">account_circle</i> Personal Details
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input class="validate valid" id="full_name" ng-model="u_full_name" type="text">
                                        <label class="active" for="full_name">Full Name</label>
                                        </input>
                                    </div>
                                    <div class="col l4 m12">
                                        <input class="datepicker" id="birthdate" ng-model="u_dob" placeholder="Date of Birth"
                                            type="text">
                                        </input>
                                    </div>
                                    <div class="col l4 m12">
                                        <label>
                                            <input class="with-gap" ng-model="u_sex" name="sex" type="radio" value="male" />
                                            <span>Male</span>
                                        </label>
                                    </div>
                                    <div class="col l4 m12">
                                        <label>
                                            <input class="with-gap" ng-model="u_sex" name="sex" type="radio" value="female" />
                                            <span>Female</span>
                                        </label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea ng-bind="" class="materialize-textarea" ng-model="u_address" id="address"></textarea>
                                        <label for="address">Address</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input class="validate" id="email" ng-model="u_email" type="email">
                                        <label for="email">Email</label>
                                        </input>
                                    </div>
                                    <div class="input-field col s12 ">
                                        <div class="file-field input-field">
                                            <div class="btn indigo">
                                                <span>Browse</span>
                                                <input type="file" accept="image/*" />
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" placeholder="Upload Image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <div class="collapsible-header indigo white-text">
                                <i class="material-icons">group</i> Professional
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input class="autocomplete" id="autocomplete-company" type="text">
                                        <label for="autocomplete-company">Company</label>
                                        </input>
                                    </div>
                                    <div class="input-field col s12">
                                        <input class="autocomplete" id="autocomplete-position" type="text">
                                        <label for="autocomplete-position">Designation</label>
                                        </input>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header indigo white-text">
                                <i class="material-icons">book</i> Educational
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input class="autocomplete" id="autocomplete-school" type="text">
                                        <label for="autocomplete-school">School</label>
                                        </input>
                                    </div>
                                    <div class="input-field col s12">
                                        <input class="autocomplete" id="autocomplete-stream" type="text">
                                        <label for="autocomplete-stream">Stream</label>
                                        </input>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col s8">
                <div class="A4">
                    <div class="col s8">
                        <div class="personal-details">
                            <h4 class="blue-grey darken-4 white-text" ng-bind="u_full_name"></h4>
                            Date of Birth : {{u_dob}}
                            <br>Address : {{u_address}}
                            <br>Email : {{u_email}}
                        </div>
                    </div>
                    <div class="col s4">
                        <div id="profile-img" class="responsive-img user" ng-class="u_sex" />
                    </div>
                </div>
            </div>
        </div>
        <div id="themeModal" class="modal">
            <div class="modal-content container">
                <h4 class="center">Select the theme</h4>
                <div class="row">
                    No themes available right now.
                </div>
            </div>
        </div>
        <div id="aboutModal" class="modal">
            <div class="modal-content container">
                <h4 class="center">About Team Origin</h4>
                <div class="row">
                    Team Origin is team consisting with three software engineering undergrduates from University of
                    Kelaniya.
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
<script src="https://rawgit.com/Foliotek/Croppie/master/croppie.js"></script>
<script src="https://rawgit.com/lpsBetty/angular-croppie/master/angular-croppie.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/basic.js"></script>

</html>